<!-- Sulaiman Mardanyar - 301270644
COMP229 Section 003 Assignment 1
Date: Oct 4th 2023-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>